@page "/scoreboard"
@using Scorebini.Data
@using Scorebini.Shared
@using Microsoft.Extensions.Logging
@inject TournamentService TournamentSvc 
@inject ScoreboardSettingsService SettingsSvc
@inject CommentatorService CommentatorSvc
@inject ILogger<ScoreboardEditor> Log
@implements IDisposable

<h3>ScoreboardEditor</h3>
<p>
    <label>
        Challonge/Start.gg URL
        <input @bind="InputState.Url" />
    </label>
    <div>
        <button class="btn btn-primary" @onclick="(async () => await UpdateContext())" disabled="@DisableUpdateButton">
            <div class="oi oi-data-transfer-download" />
            Pull
        </button>
        <button class="btn btn-primary" @onclick="(async () => await PushScore())" disabled="@(!CanPushScore || DisableUpdateButton)">
            Push
            <div class="oi oi-data-transfer-upload" />
        </button>
    </div>
    @if(ContextUpdateErrors != null && ContextUpdateErrors.Count > 0)
    {
        foreach(var errStr in ContextUpdateErrors)
        {
            <p class="text-danger">@errStr</p>
        }
    }
    @if(PushScoreErrors != null)
    {
        foreach(var errStr in PushScoreErrors)
        {
            <p class="text-danger">@errStr</p>
        }
    }
</p>

@if(Tournament != null)
{

    <div>
        <div class="mb-1">
            <label for="player1_name">
                Player 1:
            </label>
            <ScoreComponent @ref="ScorePlayer1" />
            <select style="height: 2.5em" name="player1_name" value=@($"__player__{InputState.Player1.Id}") @onchange="Player1InputChanged">
                <optgroup label="Next Matches">
                    @foreach(var match in TournamentSvc.GetPendingMatches(Tournament))
                    {
                        <option value="__id__@match.Id">@match.Player1.Name / @match.Player2.Name</option>
                    }
                </optgroup>
                <optgroup label="All Players">
                    @foreach(var participant in TournamentSvc.ParticipantAutocompleteList(InputState.Player1.Name, Tournament))
                    {
                        <option value="__player__@participant.Name">@participant.Name</option>
                    }
                </optgroup>
            </select>
            <WinnersLosersToggleComponent @ref="WLTPlayer1" Position=@InputState.Player1.GFPosition />
        </div>
        <div>
            <label for="player2_name">
                Player 2:
            </label>
            <ScoreComponent @ref="ScorePlayer2" />
            <select style="height: 2.5em" name="player2_name" value=@($"__player__{InputState.Player2.Id}") @onchange="Player2InputChanged">
                <optgroup label="Next Matches">
                    @foreach(var match in TournamentSvc.GetPendingMatches(Tournament))
                    {
                        <option value="__id__@match.Id">@match.Player1.Name / @match.Player2.Name</option>
                    }
                </optgroup>
                <optgroup label="All Players">
                    @foreach(var participant in TournamentSvc.ParticipantAutocompleteList(InputState.Player2.Name, Tournament))
                    {
                        <option value="__player__@participant.Name">@participant.Name</option>
                    }
                </optgroup>
            </select>
            <WinnersLosersToggleComponent @ref="WLTPlayer2" Position=@InputState.Player2.GFPosition />
        </div>
    </div>
    <div class="mt-1" />
    <button class="btn btn-primary" @onclick="SwapPlayerButtonClicked">
        <div class="oi oi-transfer transfer-btn-icon" />
        Swap Players
    </button>
    <div class="mt-1" />
    <select style="height: 2.5em" name="round_name" value="@InputState.RoundName" @onchange="RoundNameInputChanged">
        <optgroup label="All Matches">
            @foreach(var name in TournamentSvc.GetAllMatchNames(Tournament))
            {
                <option value="@name">@name</option>
            }
        </optgroup>
    </select>
    <div class="mt-4" />
    <button class="btn btn-primary" @onclick="UpdateScoreboardButtonClicked">
        <div class="oi oi-pencil" />
        Update Scoreboard
    </button>
}
@if (Commentators != null)
{
    <p>
        <h3>Commentators:</h3>
    </p>
    <div>
        @for(int i = 0; i < InputState.Commentators.Count; i++)
        {
            var comm = InputState.Commentators[i];
            int idx = i;
            <CommentatorListItem 
                                 Comm=@comm 
                                 Index=@idx
                                 UpClicked="@CommentatorUpBtnClicked"
                                 DownClicked="@CommentatorDownBtnClicked"
                                 DeleteClicked="@CommentatorDeleteBtnClicked"
                                 />
        }
        <button class="btn btn-secondary" @onclick="AddCommentatorButtonClicked">
            +
        </button>
    </div>
}


@code {

    ScoreboardInputState InputState = new();

    bool _isUpdatingContext = false;
    bool DisableUpdateButton => string.IsNullOrWhiteSpace(InputState.Url) || _isUpdatingContext;
    bool CanPushScore => InputState.MatchId.HasValue == true;

    List<string> ContextUpdateErrors = null;
    List<string> PushScoreErrors = null;

    TournamentView Tournament = null;
    CommentatorList Commentators = null;

    public List<Commentator> SelectedCommentators = new();

    System.Timers.Timer UpdatePollTimer;
    DateTime PrevUpdateTime;

    // I don't know how to do input binding correctly, so these are referenced to hack around it
    ScoreComponent ScorePlayer1;
    ScoreComponent ScorePlayer2;
    WinnersLosersToggleComponent WLTPlayer1;
    WinnersLosersToggleComponent WLTPlayer2;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if(SettingsSvc.CurrentSettings == null)
        {
            SettingsSvc.LoadSettings();
        }
        InputState = SettingsSvc.LoadInputState();
        Commentators = SettingsSvc.LoadCommentators();
    }


    public void Dispose()
    {
        Log.LogInformation("Disposing scoreboard editor page");
        if (UpdatePollTimer != null)
        {
            UpdatePollTimer.Elapsed -= UpdatePollEventCallback;
            UpdatePollTimer?.Dispose();
        }
    }

    private async Task UpdateContext()
    {
        if (UpdatePollTimer == null)
        {
            Log.LogInformation("Initializing auto update timer");
            // Init poll timer when the user first clicks the button
            PrevUpdateTime = DateTime.UtcNow;
            UpdatePollTimer = new System.Timers.Timer(1000.0); // tick every second
            UpdatePollTimer.Elapsed += UpdatePollEventCallback;
            UpdatePollTimer.Start();
        }
        _isUpdatingContext = true;
        StateHasChanged(); // ensure button is disabled
        SettingsSvc.SaveInputState(InputState);
        var context = await TournamentSvc.InitForTournamentUrl(InputState.Url);
        if(context == null || !context.IsValid)
        {
            // Only clear the current state if the user has requested a new tournament. Otherwise,
            // clearing 'Tournament' would cause the screen to go blank for intermittent network errors.
            if (Tournament?.Url != context?.Url)
            {
                Tournament = null;
            }
            // Still want to display the errors.
            ContextUpdateErrors = context?.RequestErrors;
        }
        else
        {
            Tournament = new TournamentView(context);
            ContextUpdateErrors = null;
        }
        _isUpdatingContext = false;
        PrevUpdateTime = DateTime.UtcNow;
        StateHasChanged();
    }


    private async Task PushScore()
    {
        _isUpdatingContext = true;
        StateHasChanged();
        SettingsSvc.SaveInputState(InputState);
        if(Tournament.Model?.IsValid == true
            && InputState.MatchId.HasValue 
            && InputState.Player1?.Id.HasValue == true
            && InputState.Player2?.Id.HasValue == true)
        {
            MatchScoreReport report = new MatchScoreReport();
            if(Tournament.Matches.TryGetValue(InputState.MatchId.Value, out var match))
            {
                report.Match = match;
            }
            if (Tournament.Participants.TryGetValue(InputState.Player1.Id.Value, out var p1))
            {
                report.Scores.Add(new MatchScoreReport.Score()
                {
                    Player = p1,
                    Wins = InputState.Player1.Score
                });
            }
            if (Tournament.Participants.TryGetValue(InputState.Player2.Id.Value, out var p2))
            {
                report.Scores.Add(new MatchScoreReport.Score()
                {
                    Player = p2,
                    Wins = InputState.Player2.Score
                });
            }
            report.Tournament = Tournament;
            var result = await TournamentSvc.PushScore(report);
            if(result.Success)
            {
                PushScoreErrors = null;
            }
            else
            {
                PushScoreErrors = result.Errors;
            }
        }
        _isUpdatingContext = false;
        await UpdateContext();
    }


    private async void UpdatePollEventCallback(object sender, System.Timers.ElapsedEventArgs args)
    {
        if (_isUpdatingContext) // don't stack up update calls
            return;

        int updateInterval = SettingsSvc.CurrentSettings?.UpdateIntervalSeconds ?? -1;
        DateTime now = DateTime.UtcNow;
        if ((updateInterval > 0) && ((now - PrevUpdateTime) > TimeSpan.FromSeconds(updateInterval)))
        {
            Log.LogInformation("Automatically pulling bracket update info.");
            await InvokeAsync(async () => await UpdateContext());
        }
    }

    void ReadNonBoundValuesForPlayers()
    {
        InputState.Player1.Score = ScorePlayer1.ScoreNumber;
        InputState.Player2.Score = ScorePlayer2.ScoreNumber;
        InputState.Player1.GFPosition = WLTPlayer1.Position;
        InputState.Player2.GFPosition = WLTPlayer2.Position;

    }

    private void UpdateScoreboardButtonClicked()
    {
        ReadNonBoundValuesForPlayers();
        SettingsSvc.SaveInputState(InputState);
        if(SettingsSvc.CurrentSettings == null)
        {
            SettingsSvc.LoadSettings();
        }
        SettingsSvc.WriteOutputFiles(SettingsSvc.CurrentSettings, InputState);
    }


    private void SetMatchFromSelection(string optionValue)
    {
        string idStr = optionValue.Substring("__id__".Length);
        if(long.TryParse(idStr, out long matchId))
        {
            if(Tournament.Matches.TryGetValue(matchId, out var match))
            {
                if(match.Player1 != null)
                {
                    InputState.Player1.Name = match.Player1.Name;
                    InputState.Player1.Id = match.Player1.Id;
                }
                if(match.Player2 != null)
                {
                    InputState.Player2.Name = match.Player2.Name;
                    InputState.Player2.Id = match.Player2.Id;
                }
                InputState.RoundName = match.RoundName;
                InputState.MatchId = match.Id;
            }
        }
    }


    private void SetPlayerFromId(string optionValue, ScoreboardPlayerState player)
    {
        string idStr = optionValue.Substring("__player__".Length);
        if(long.TryParse(idStr, out long playerId))
        {
            if(Tournament.Participants.TryGetValue(playerId, out var participant))
            {
                player.Name = participant.Name;
                player.Id = participant.Id;
                return;
            }
            else
            {
                Log.LogError("Could not find player with id {} from id string {}", playerId, idStr);
            }
        }
        else
        {
            Log.LogError("Could not parse number from option value {}", optionValue);
        }

        player.Name = "ERROR";
        player.Id = null;
    }

    private void Player1InputChanged(ChangeEventArgs e)
    {
        string val = e.Value as string;
        if(!string.IsNullOrWhiteSpace(val) && val.StartsWith("__id__"))
        {
            SetMatchFromSelection(val);
        }
        else if (val?.StartsWith("__player__") == true)
        {
            SetPlayerFromId(val, InputState.Player1);
        }
        else
        {
            InputState.Player1.Name = e.Value as string;
            InputState.Player1.Id = null; 
            InputState.MatchId = null;
        }
        StateHasChanged();
    }

    private void Player2InputChanged(ChangeEventArgs e)
    {
        string val = e.Value as string;
        if(!string.IsNullOrWhiteSpace(val) && val.StartsWith("__id__"))
        {
            SetMatchFromSelection(val);
        }
        else if (val?.StartsWith("__player__") == true)
        {
            SetPlayerFromId(val, InputState.Player2);
        }
        else
        {
            InputState.Player2.Name = e.Value as string;
            InputState.Player2.Id = null;
            InputState.MatchId = null;
        }
        StateHasChanged();
    }

    private void RoundNameInputChanged(ChangeEventArgs e)
    {
        string val = e.Value as string;
        InputState.RoundName = val ?? "";
        StateHasChanged();
    }


    private void SwapPlayerButtonClicked()
    {
        ReadNonBoundValuesForPlayers();
        InputState.SwapPlayers();
        ScorePlayer1.SetScore(InputState.Player1.Score);
        ScorePlayer2.SetScore(InputState.Player2.Score);
        StateHasChanged();
    }


    private void AddCommentatorButtonClicked()
    {
        InputState.Commentators.Add(new Commentator());
    }

    private void CommentatorUpBtnClicked(int idx)
    {
        if (idx == 0)
        {
            Log.LogInformation($"btn up idx == 0 (idx = {idx})");
            return;
        }
        if (idx >= InputState.Commentators.Count)
        {
            Log.LogInformation($"btn up idx >= InputState.Commentators.Count  (idx = {idx} Count = {InputState.Commentators.Count})");
            return;
        }
        if (InputState.Commentators.Count == 1)
        {
            Log.LogInformation($"btn up (InputState.Commentators.Count == 1) (Count = {InputState.Commentators.Count})");
            return;
        }

        var prev = InputState.Commentators[idx-1];
        InputState.Commentators[idx - 1] = InputState.Commentators[idx];
        InputState.Commentators[idx] = prev;
    }

    private void CommentatorDownBtnClicked(int idx)
    {
        if ((idx + 1) >= (InputState.Commentators.Count))
        {
            Log.LogInformation($"btn down ((idx + 1) >= InputState.Commentators.Count) (idx = {idx} Count = {InputState.Commentators.Count})");
            return;
        }
        if (InputState.Commentators.Count == 1)
        {
            Log.LogInformation($"btn down (InputState.Commentators.Count == 1)) (Count = {InputState.Commentators.Count})");
            return;
        }

        var next = InputState.Commentators[idx + 1];
        InputState.Commentators[idx + 1] = InputState.Commentators[idx];
        InputState.Commentators[idx] = next;
    }

    private void CommentatorDeleteBtnClicked(int idx)
    {
        InputState.Commentators.RemoveAt(idx);
    }

}
